body {
    font-size: 16px;
    color: #fff;
    background-color: ;
    font-family: 'Titillium Web', sans-serif;
}


/* Header */

#header-nav {
    background: #EDEAE5;
    border-radius: 0;
    border: 0;
}

#logo {
    background: url('../images/logo.png') no-repeat;
    width: 270px;
    height: 83px;
    margin: 15px 15px 15px 0;
}

.navbar-brand {
    padding-top: 7.5px;
}

.navbar-brand h1 {
    color: black;
    font-size: 2em;
    font-weight: 900;
    text-transform: uppercase;
    line-height: .75;
}

.navbar-brand a:hover,
.navbar-brand a:focus {
    text-decoration: none;
}

.navbar-brand span {
    color: #000;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-top: 15px;
}

/* End of Header */


/* Main Content */

/* End of Main Content *

/* Footer */

#contact {	
	background: #026670;
}

#contact a {
	color: #9FEDD7;
}

#contact span {
	font-weight: bold;
	text-transform: uppercase;
	color: #FCE181;
}

#contact a:hover,
#contact a:focus {
	text-decoration: none;
	color: #FCE181;
}

#copyright {
	margin: 15px 0;
}

/* Color scheme 
	Teal #026670;
	Sky Blue #9FEDD7;
	Cream #FEF9C7;
	Yellow #FCE181;
	Neutral #EDEAE5;
}