/*** BASE STYLING ***/

body {
    font-size: 16px;
    color: #fff;
    font-family: 'Titillium Web', sans-serif;
}


/*** HEADER ***/

header {
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 1;
}

#header-nav {
    background: #EDEAE5;
    border-radius: 0;
    border: 0;
    height: 75px;
}


/* LOGO IMAGE */

#logo {
    background: url('../images/logo.png') no-repeat;
    width: 135px;
    height: 42px;
    margin-top: 15px;
    margin-left: 75px;
    margin-right: 15px;
}


/* COMPANY NAME */

.navbar-brand h1 {
    color: black;
    font-size: 1.25em;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}

.navbar-brand a:hover,
.navbar-brand a:focus {
    text-decoration: none;
}

.navbar-brand span {
    color: #000;
    font-size: 1em;
    text-transform: uppercase;
}


/* MENU BUTTON */

button a,
button a:hover,
button a:focus {
    text-decoration: none;
}

.btn-primary {
    position: absolute;
    top: 18px;
    right: 200px;
    height: 35px;
    width: 155px;
    color: #026670;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #EDEAE5;
    border-color: #026670;
    text-align: right;
}


/* MENU BUTTON -- WHEN CLICKED */

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #026670;
    border-color: #026670;
}


/* MENU DROPDOWN -- WHEN OPEN */

div.open .dropdown-menu {
    position: absolute;
    top: 70px;
    width: 90px;
    float: none;
    left: 990px;
}


/* MENU DROPDOWN-ITEMS -- WHEN OPEN */

div.open .dropdown-menu a {
    display: block;
    text-align: center;
    color: black;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}


/* MENU DROPDOWN-ITEMS -- HOVER & FOCUS */

div.open .dropdown-menu a:hover,
div.open .dropdown-menu a:focus {
    text-decoration: none;
    color: #026670;
    background-color: #EDEAE5;
}


/*** END OF HEADER ***/


/*** MAIN CONTENT ***/

#main-content {
    position: relative;
    top: 75px;
    width: 100%;
    height: auto;
}


/* DEFINITION OF CLIMATE CHANGE (HOME PAGE),
ABOUT THE TEAM (TEAM PAGE),
OTHER ADVOCACY CAMPAIGNS & EVENTS (OTHERS PAGE) */

#definition,
#team,
#others,
#faqs {
    background-color: #9FEDD7;
    width: 100%;
    height: auto;
}

div#affected div.container,
div#team div.container {
    padding-bottom: 50px;
}


/* DEFINITION OF CLIMATE CHANGE (HOME PAGE) */

#definition h2 {
    padding-top: 10px;
    font-size: 2em;
    font-weight: 900;
    color: #026670;
}

#definition p,
#definition span {
    font-size: 1em;
    font-weight: 800;
    color: black;
    margin-bottom: 20px;
}

#definition p:nth-child(4) {
    margin-bottom: 50px;
}


/* VIDEO ABOUT CLIMATE CHANGE (HOME PAGE),
OTHER WEBSITES (OTHERS PAGE) */

#video iframe,
#others iframe {
    box-shadow: 0 0 50px #026670;
    border: 2px solid #026670;
    display: block;
    margin: 0 auto;
}


/* VIDEO ABOUT CLIMATE CHANGE (HOME PAGE) */

#video {
    padding: 25px 0 60px 0;
}


/* WHO ARE AFFECTED (HOME PAGE) */

#affected {
    background-color: #FCE181;
    margin-top: -30px;
}


/* WHO ARE AFFECTED IMAGES (HOME PAGE) */

.img-circle img {
    border-radius: 100%;
    width: 300px;
    height: 300px;
    box-shadow: 0 0 50px #fff;
    border: 2px solid #fff;
}


/* WHO ARE AFFECTED TEXT (HOME PAGE),
ABOUT THE TEAM TEXT (TEAM PAGE),
OTHER ADVOCACY CAMPAIGNS AND EVENTS (OTHERS PAGE) */

#affected span,
#team h1,
#others span,
#faqs h1 {
    display: block;
    color: #026670;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 3em;
    margin: 30px 0;
    text-align: center;
}

#team h1 {
    margin-bottom: -50px;
}


/* CENTER IMAGES */

.img-responsive {
    margin: 0 auto;
}


/* WHO ARE AFFECTED IMAGES (HOME PAGE),
ABOUT THE TEAM IMAGES (TEAM PAGE) */

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle,
.middle2 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%) background-color: #fff;
    padding: 16px 32px;
    font-size: 10px;
    text-align: center;
    vertical-align: center;
}

.details2:hover .image {
    opacity: 0.3;
}

.details2:hover .middle,
.details2:hover .middle2 {
    opacity: 1;
}

.middle {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin-left: -25px;
}

.middle2 {
    width: 250px;
    height: 250px;
    margin-top: 100px;
}


/* ABOUT THE TEAM */

div#individual-imgs {
    width: 100%;
    height: 450px;
}


/* ABOUT THE TEAM IMAGES (TEAM PAGE) */

#individual-imgs img {
    width: 250px;
    height: 250px;
    box-shadow: 0 0 50px #026670;
    border: 2px solid #026670;
    position: relative;
    top: 100px;
    display: block;
    margin: 0 auto;
}


/* ABOUT THE TEAM TEXT (TEAM PAGE)
-- SHOWS UP: HOVER IMAGES */

#team .text span {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    color: #026670;
    font-size: 2em;
    font-weight: 900;
    opacity: 1;
}


/* WEBSITES EMBEDDED (OTHERS PAGE) */

#others iframe {
    margin-bottom: 50px;
}

#others a {
    color: black;
    width: 100%;
    margin: 0 auto;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 900;
}

#others a:hover,
#others a:focus {
    text-decoration: none;
}

.websites {
    margin-bottom: 15px;
}


/* FAQS TEXT (FAQS) */

#faqs {
    width: 100%;
    height: auto;
}

div#faqs {
    background-color: #9FEDD7;
    margin-bottom: -75px;
}

#faqs section {
    background-color: #fff;
    width: 550px;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 15px;
}

div.questions {
    height: 125px;
}

div.questions h2,
#faqs section h2 {
    color: #026670;
    font-size: 2em;
    font-weight: 900;
}

#faqs blockquote {
    border-left: 5px solid black;
    color: black;
    font-size: 1em;
    font-weight: 600;
}


/*** END OF MAIN CONTENT ***/


/*** FOOTER ***/

footer {
    width: 100%;
    height: auto;
    bottom: 0;
    margin-top: 75px;
}

#contact {
    background: #026670;
    width: 100%;
    height: auto;
}

.details span {
    font-weight: bold;
    text-transform: uppercase;
    color: #FCE181;
}

.details a {
    color: #9FEDD7;
}

.details a:hover,
.details a:focus {
    text-decoration: none;
    color: #FCE181;
}

#copyright {
    margin: 15px 0;
}


/* Color scheme:
Teal #026670;
Sky Blue #9FEDD7;
Cream #FEF9C7;
Yellow #FCE181;
Neutral #EDEAE5;
*/
